Django==4.2.11
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-filter==24.1
drf-nested-routers==0.93.4
mysqlclient==2.2.4
Pillow==10.3.0
python-decouple==3.8
django-storages==1.14.2
celery==5.3.6
redis==5.0.3
gunicorn==22.0.0
django-extensions==3.2.3
